@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 100%;
    background: url(images/nyc-5276112_1920.jpg) center no-repeat;
    background-size: cover;
}
h1 {
    font-size: 5rem;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to left, rgb(0, 174, 255), rgb(247, 0, 255));
    font-family: 'Roboto Slab', serif;
}
footer {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links > a {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(0, 174, 255), rgb(247, 0, 255));
    padding: 0 50px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.news {
    background-color: rgb(204, 199, 199);
    padding: 50px 32px;
}
article {
    width: 800px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 174, 255), rgb(247, 0, 255));
    border-image-slice: 1;
}
article a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
article a:hover {
    color: rgb(0, 174, 255);
}
article h2 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
}
.article-meta {
    color: rgb(100, 100, 100);
    margin-bottom: 10px;
}
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
article:nth-of-type(even) {
	background-color: rgba(0, 174, 255, 0.200);
}
article:nth-of-type(odd) {
	background-color: rgba(247, 0, 255, 0.200);
}
.new::after {
    content: "NEW";
    color: orangered;
    font-size: 0.5em;
    vertical-align: top;
}
.copyright {
    color: rgb(100, 100, 100);
    margin: 50px;
}
